[submodule "src/vendor/Catch2"]
	path = src/vendor/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "src/vendor/rapidjson"]
	path = src/vendor/rapidjson
	url = https://github.com/miloyip/rapidjson
[submodule "src/vendor/flatbuffers"]
	path = src/vendor/flatbuffers
	url = https://github.com/google/flatbuffers
[submodule "src/vendor/compile-time-regular-expressions"]
	path = src/vendor/compile-time-regular-expressions
	url = https://github.com/hanickadot/compile-time-regular-expressions

[submodule "src/vendor/PicoSHA2"]
	path = src/vendor/PicoSHA2
	url = https://github.com/okdshin/PicoSHA2
[submodule "src/vendor/cxxopts"]
	path = src/vendor/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "src/vendor/curlpp"]
	path = src/vendor/curlpp
	url = https://github.com/jpbarrette/curlpp
